/* Lato, как на сайте компании (не умеет менять вес на русском): */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Inter, как на макете из figma */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {}

body {
    font-family: 'Inter', 'arial', 'helvetica', 'sans-serif';
    font-weight: 300;
    width: 100%;
}

.ms-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

.ms-top {
    background-image: url("img/ms-top-bg.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
    padding: 117px 0 110px 0;
    color: #ffffff;
    box-sizing: border-box;
}

.ms-top__header {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 117px 103px;

}
.ms-top-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0 0 103px;
    width: 75%;
}


.ms-top-feature {
    width: fit-content;
}

.ms-top-feature__header {
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    padding: 25px 0 50px 0;
}

.ms-top-feature__description {
    font-size: 24px;
}

.ms-help-prologue {}
.ms-help-prologue__text {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding: 54px 104px 104px 104px;
}
.ms-kind-of-help {}
.ms-kind-of-help__header {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;

    padding: 11px 0 45px 0;
}

.ms-kind-of-help__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ms-kind-of-help__column {
    width: 45%;
    padding-left: 65px;
    box-sizing: border-box;
}

/*универсальный лист для этой страницы*/
.ms-list {}
.ms-list li {
    position: relative;
    margin-left: 24px;
    font-size: 24px;
    padding-bottom: 16px;
}
.ms-list li:before {
    content: "■";
    color: #3C82D3;
    display: inline-block;
    position: absolute;
    font-size: 30px;
    left: -40px;
    top: -9px;
}

.ms-licensing {
    margin-top: 100px;
}

.ms-licensing-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ms-licensing-button {
    width: 49%;
    color: #9B9B9B;
    background-color: transparent;

    border: 2px solid #9B9B9B;
    /* Decrease paddings by 2px because of border */
    padding: 36px 62px 36px 80px;
    box-sizing: border-box;
    height: fit-content;

    font-size: 32px;

    cursor: pointer;
}
.ms-licensing-button_active {
    color: #ffffff;
    background-color: #0459A8;
    border: none;
    /* Decrease paddings by 2px because of "border:none" */
    padding: 38px 64px 38px 82px;

    cursor: default;
}
.ms-licensing-button__header {
    text-transform: uppercase;
    font-weight: bold;
}
.ms-licensing-button__description {
}

.ms-licensing-info {
    display: flex;
    flex-wrap: wrap;

    margin-top: 71px;
}

.ms-licensing-info__image {
    width: 40%;
    height: 52vw; /*40% * 1.3 (1.3 соотношение сторон картинки с макета)*/

    background-position: center;
    background-size: cover;
}

#ms-licensing-info-1 .ms-licensing-info__image {
    background-image: url("img/ms-licensing-1.jpeg");
}

#ms-licensing-info-2 .ms-licensing-info__image {
    background-image: url("img/ms-licensing-2.jpeg");
}
.ms-licensing-info__description {
    max-width: 50%;
    margin-left: 5%;
}

.ms-licensing-info__description-text {
    font-size: 28px;
}

.ms-licensing-info__description-header {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 50px 0 37px 0;
}

.ms-licensing-info__description-list {
    padding-left: 34px;
}

/* ДОКУМЕНТАЦИЯ
ДЛЯ ВЕДЕНИЯ МЕДИЦИНСКОЙ ДЕЯТЕЛЬНОСТИ */
.ms-documentation {
    margin-top: 101px;
    padding: 0 35px;
}

.ms-documentation-header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.ms-documentation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 70px 0;
}

.ms-documentation-info__title {
    width: 27%;

    font-size: 28px;
    font-weight: bold;
}

.ms-documentation-info__description {
    width: 67%;
    padding-right: 80px;

    font-size: 24px;
}

/* Контейнер для всех блоков пакетов (групп) документов документы */
.ms-documents {}

/*блок-строка для одного типа набора документов*/
.ms-documents-group {
    border: 1px solid #000;
    margin: 18px 0;
}
.ms-documents-group__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 36px;
}
.ms-documents-group__title {
    width: 60%;
    font-weight: bold;
}
.ms-documents-group__show {
    width: 13%;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}

.ms-documents-group__price {
    font-weight: bold;
}
.ms-documents-group_opened .ms-documents-group__show {
    display: none;
}
.ms-documents-group__hide {
    cursor: pointer;
    width: 13%;
    text-align: center;

    display: none;
}
.ms-documents-group_opened .ms-documents-group__hide {
    display: block;
}

.ms-documents-group__icon {
    transition: transform ease-in .3s;
}
.ms-documents-group_opened .ms-documents-group__icon {
    transform: rotate(180deg);
}

/* список конкретных документов для типа */
.ms-document-group__documents-container {
    padding: 32px 82px 50px 82px;
    display: none;
}
.ms-documents-group_opened .ms-document-group__documents-container {
    display: block;
}
.ms-document-group__document {
    justify-content: space-between;
    align-items: flex-start;

    height: 54px;

    display: flex;
}

.ms-document-group__document-title {
    width: 80%;
}

.ms-document-group__document-price {
    width: 6%;
}

.ms-g-hidden {
 display: none;
}

/* Media Queries: */

/*Common Breakpoints Standard Resolutions: */

/*320px — 480px: Mobile devices.*/
/*481px — 768px: iPads, Tablets.*/
/*769px — 1024px: Small screens, laptops.*/
/*1025px — 1200px: Desktops, large screens.*/
/*1201px and more — Extra large screens, TV.*/

@media (max-width: 1200px) {
    /*TODO: todo*/
}

@media (max-width: 1024px) {
    /*TODO: todo*/
}

@media (max-width: 768px) {
    /*TODO: todo*/
}

@media (max-width: 480px) {
    /*TODO: todo*/
}


