@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,200,200i,300,400&display=swap');

html {
    /*width: 100%;*/
}

body {
    font-family: 'Lato', 'sans-serif', 'arial', 'helvetica';
    width: 100%;
}

.ms-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

.ms-top {
    background-image: url("img/ms-top-bg.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 715px;
    color: #ffffff;
    box-sizing: border-box;
}

.ms-top__info-container {
    width: 75%;
}

.ms-top__header {
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 117px 472px 317px 103px;
    height: 281px;
}
.ms-top-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0 0 103px;
    width: 100%;
}


.ms-top-feature {
    width: fit-content;
}

.ms-top-feature__header {
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    padding: 25px 0 50px 0;
}

.ms-top-feature__description {
    font-size: 24px;
}

.ms-help-prologue {}
.ms-help-prologue__text {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding: 54px 104px 104px 104px;
}
.ms-kind-of-help {}
.ms-kind-of-help__header {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;

    padding: 11px 0 45px 0;
}

.ms-kind-of-help__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ms-kind-of-help__column {
    width: 45%;
    padding-left: 65px;
    box-sizing: border-box;
}
.ms-kind-of-help__list {}
.ms-kind-of-help__list li {
    position: relative;
    margin-left: 24px;
    font-size: 24px;
}
.ms-kind-of-help__list li:before {
    content: "■";
    color: #3C82D3;
    display: inline-block;
    position: absolute;
    font-size: 30px;
    left: -40px;
    top: -10px;
}

.ms-licensing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 100px;
}
.ms-licensing-button {
    width: 49%;
    color: #9B9B9B;
    background-color: transparent;

    border: 2px solid #9B9B9B;
    /* Decrease paddings by 2px because of border */
    padding: 36px 62px 36px 80px;
    box-sizing: border-box;
    height: fit-content;

    font-size: 32px;

    cursor: pointer;
}
.ms-licensing-button_active {
    color: #ffffff;
    background-color: #0459A8;
    border: none;
    /* Decrease paddings by 2px because of "border:none" */
    padding: 38px 64px 38px 82px;

    cursor: default;
}

.ms-licensing-button__header {
    text-transform: uppercase;
}

/* Media Queries */

/*Common Breakpoints Standard Resolutions: */
/*320px — 480px: Mobile devices.*/
/*481px — 768px: iPads, Tablets.*/
/*769px — 1024px: Small screens, laptops.*/
/*1025px — 1200px: Desktops, large screens.*/
/*1201px and more — Extra large screens, TV.*/

@media (max-width: 1200px) {
    /*.ms-container {*/
    /*    width: 1025px;*/

    /*    margin: 0 auto;*/
    /*    box-sizing: border-box;*/
    /*    padding: 0;*/
    /*}*/
}

@media (max-width: 768px) {
    /*.ms-container {*/
    /*    width: 481px;*/

    /*    margin: 0 auto;*/
    /*    box-sizing: border-box;*/
    /*    padding: 0;*/
    /*}*/
}

@media (max-width: 480px) {
    /*.ms-container {*/
    /*    width: 320px;*/

    /*    margin: 0 auto;*/
    /*    box-sizing: border-box;*/
    /*    padding: 0;*/
    /*}*/
}


@media (min-width: 1680px) {}


